@import "tailwindcss";

@theme {
  --font-spline: "Spline Sans Mono", monospace;
  --font-barlow: "Barlow Condensed", sans-serif;

  --color-red: #ff1d1e;
  --color-white: #ebebeb;
  --color-gray: #7a7a7a;
  --color-black: #040404;
}

* {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

*::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

h1 {
  text-transform: uppercase;
  font-family: var(--font-barlow);
  font-size: clamp(6rem, 18vw, 18rem);
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 0.8;
}

/* El wrapper que crea SplitText */
h1 .line {
  overflow: hidden;
  padding-bottom: 0.15em; /* espacio para descenders (g, y, p...) */
  margin-top: -0.15em; /* compensa el padding para no mover el layout */
  line-height: 0.85;
}

/* Los chars se mueven dentro del line */
h1 .char {
  display: inline-block;
  line-height: 0.85;
}

p {
  text-transform: uppercase;
  font-family: var(--font-spline);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

h1 .word,
p .line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 1000px) {
  .pb-row .pb-col:nth-child(1),
  .pb-row .pb-col:nth-child(2),
  .pb-row .pb-col:nth-child(5) {
    display: none;
  }
}
